* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#coin {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at 30% 30%, #FFD700, #DAA520);
    border-radius: 50%;
    border: 16px solid #B8860B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 120px;
    user-select: none;
}

#coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.gold-count-displays {
    font-size: 30px;
    margin-bottom: 16px;
}